@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700");
@import url("https://fonts.googleapis.com/css?family=Raleway:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i");

* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

:root {
  --font-roboto: "Roboto Slab", serif;
  --font-raleway: "Raleway", sans-serif;
}

body {
  font-family: var(--font-roboto);
  background-color: #3080b5;
  text-align: center;
}

.App-header {
  background-color: #3080b5;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 4em;
}

.App {
  padding: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  background-color: #ffffff;
}

.Details
{
  adding: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  background-color: #ffffff;

}

h1 {
  text-align: center;
  letter-spacing: 1.2px;
  background: linear-gradient(
    0deg,
    rgb(24, 31, 48) 0%,
    rgb(63, 94, 132) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  font-size: 10em;
}

h2 {
  text-align: center;
  letter-spacing: 1.2px;
  background: linear-gradient(
    0deg,
    rgb(24, 31, 48) 0%,
    rgb(63, 94, 132) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  font-size: 7em;
}

h3 {
  text-align: center;
  letter-spacing: 1.2px;
  background: linear-gradient(
    0deg,
    rgb(24, 31, 48) 0%,
    rgb(63, 94, 132) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
}

h4
{
  text-align: center;
  letter-spacing: 1.2px;
  font-size: 1em;

}

h5
{
  text-align: center;
  letter-spacing: 1.2px;
  font-size: 7em;
}

h6
{
  text-align: center;
  letter-spacing: 1.2px;
  font-size: 3em;
}



button {
  background: linear-gradient(
    0deg,

    rgb(24, 31, 48) 0%,
    rgb(63, 94, 132) 100%
  );
  color: white;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  font-size: 50px;
  margin: 10px;
  cursor: pointer;
}

button2 {
  font-size: 45px;
}
input {
  font-size: 45px;
  padding: 10px 20px;
  border-radius: 150px;
  margin: 10px;
  text-align: center;
  border: 2px solid #3080b5;
}


.Operation {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh; /* set the height of the div to 100% of the viewport height */
}

.Result {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh; /* set the height of the div to 100% of the viewport height */
}

.Mode
{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh; /* set the height of the div to 100% of the viewport height */
}