@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700");
@import url("https://fonts.googleapis.com/css?family=Raleway:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i");

* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

:root {
  --font-roboto: "Roboto Slab", serif;
  --font-raleway: "Raleway", sans-serif;
}

body {
  font-family: var(--font-roboto);
  background-color: #212426;
  text-align: center;
}

.App {
  padding: 4rem;
  font-size: 4em;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  background-color: #212426;
}

h1 {
  text-align: center;
  letter-spacing: 1.2px;
  background: linear-gradient(
    90deg,
    rgba(249, 211, 180, 1) 0%,
    rgba(249, 211, 180, 0) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
}

h3 {
  text-align: center;
  letter-spacing: 1.2px;
  background: linear-gradient(
    0deg,
    rgb(253, 252, 250) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
}

h4
{
  text-align: center;
  letter-spacing: 1.2px;
  font-size: 2em;

}

button {
  background: linear-gradient(
    0deg,

    rgba(249, 211, 180, 1) 0%,
    rgba(249, 211, 180, 0) 100%
  );
  color: white;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  font-size: 45px;
  margin: 10px;
  cursor: pointer;
}

button2 {
  font-size: 45px;
}

input {
  font-size: 45px;
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  margin: 10px;
  text-align: center;
}



.Operation {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh; /* set the height of the div to 100% of the viewport height */
}

.Result {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh; /* set the height of the div to 100% of the viewport height */
}